*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html,body {
    height: 100%;
}

body {
    background: url("../img/back_universe.png") fixed no-repeat center;
    background-size: cover;
    padding-top: 25px;
}

a {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* ____________________________________________________________BARRAS DE NAVEGAÇÃO___________________________________________*/

/* ________________TOP BAR__________________*/

nav{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    position: fixed;
    text-transform: uppercase;

}

nav.navbar{
    background-color: rgba(0,0,0,0.85);
    border-bottom: 1px solid white;

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*-----------------------menus de navegação bottom----------------------*/
.navbottom{
    color: black;
    font-size: 25px;
    font-weight: lighter;
    position: fixed;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.85);
    border-top: 1px solid white;

}

.navbottom button{
    margin: 10px;
}

.content_cont {
    width: 130px;
}


.navbottom a:active, .navbottom a:hover, .navbottom a:visited, .navbottom a:link{
    color: #0f0f0f;
    text-decoration: none;
}





/* __________________________________________________________________________________________________________________________*/


/*---------------------------------------------------------ABOUT E CONTACTS---------------------------------------------------------*/
#relativeAbout, #relativeContact{
    position:relative;
    visibility: hidden;
}

#about, #contact{
    width: 50vw;
    position: fixed;
    margin-top: 200px;
    margin-left: 450px;
    background-color: #07001b;
    z-index: 999;
    font-size: x-large;
    padding: 30px;
    color: #FFFFFF;
    height: 50vh;
}

.popTitle{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

#about img, #contact img{
    height: 50px;
    float: right;
}

#contact span a{
    color: #1b6d85;
    font-size: 16px;
    text-decoration: none;
}

/* __________________________________________________________CONTEUDO________________________________________________________*/

.giveSomeSpace {
    width: 90%;
    height: 50px;
    border-top: dashed 1px rgba(255,255,255,0.5);
    margin-right: auto;
    margin-left: auto;
}

.giveSomeSpace h1{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 7rem;
    font-weight: 900;
}

.iframe {
    text-align: center;
    overflow-y: auto;
}


@media screen and (max-width: 500px) {
    .space {
        height: 5vh;
    }
}

/* _______________________MECANICA_______________________*/


.mecclass {
    border: none;
}

/* ________PRIMEIRA LEI DE NEWTON_____________*/


.first_law {
    height: 80vh;


}

.primeira-lei {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(230,242,255,0.85);;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#primeira_lei {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#primeira_lei h1 {
    color: #1b6d85;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content {
    width: 100%;
    padding: 2%;
}

.texto {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_pl {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/newtonsCradle.jpg");
    background-size: cover;
}

.texto p {
    text-indent: 3%;
}
.texto ul {
    margin-left: 10%;
}

.break {
    clear: both;
}


/* ___________________________FORMULAS______________________*/

.formulas_pl {
    width: 100%;
    text-align: center;
    position: relative;
}


.formula_01_pl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_pl img {
    width: 100%;

}


.formula_02_pl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_pl img {
    width: 100%;

}


.formula_03_pl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_03_pl img {
    width: 100%;

}

/* Buttons */

.primeira-lei .primeira_buttons {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.primeira-button {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.primeira-button:hover {
    cursor: pointer;
}

.buttons_active {
    text-decoration: none;
    border: none;
    background-color: #1b6d85;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active:hover {
    cursor: pointer;
}




/* ________SEGUNDA LEI DE NEWTON_____________*/


.second_law {
    height: 80vh;
}


.segunda-lei {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(230,242,255,0.85);;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#segunda_lei {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#segunda_lei h1 {
    color: #1b6d85;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_sl {
    width: 100%;
    padding: 2%;
}

.texto_sl {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_sl {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/newtonScndLaw.png");
    background-size: cover;
}



.texto_sl p {
    text-indent: 3%;
}
.texto_sl ul {
    margin-left: 10%;
}

.break {
    clear: both;
}


/* ___________________________FORMULAS______________________*/

.formulas_sl {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_sl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_sl img {
    width: 100%;

}


.formula_02_sl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_sl img {
    width: 100%;

}


.formula_03_sl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_03_sl img {
    width: 100%;

}

/* Buttons */

.segunda-lei .segunda_buttons {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.segunda_button {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.segunda_button:hover {
    cursor: pointer;
}

.buttons_active_sl {
    text-decoration: none;
    border: none;
    background-color: #1b6d85;
    color: white;
    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_sl:hover {
    cursor: pointer;
}




/* ________TERCEIRA LEI DE NEWTON_____________*/


.third_law {
    height: 80vh;
}



.terceira-lei {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(230,242,255,0.85);;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#terceira_lei {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#terceira_lei h1 {
    color: #1b6d85;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_tl {
    width: 100%;
    padding: 2%;
}

.texto_tl {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_tl {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/newtons3rdLaw.png");
    background-size: cover;
}

.texto_tl p {
    text-indent: 3%;
}
.texto_tl ul {
    margin-left: 10%;
}

.break {
    clear: both;
}


/* ___________________________FORMULAS______________________*/

.formulas_tl {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_tl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_tl img {
    width: 100%;

}


.formula_02_tl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_tl img {
    width: 100%;

}


.formula_03_tl {
    width: 30%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_03_tl img {
    width: 100%;

}

/* Buttons */

.terceira-lei .terceira_buttons {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.terceira-button {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.terceira-button:hover {
    cursor: pointer;
}

.buttons_active_tl {
    text-decoration: none;
    border: none;
    background-color: #1b6d85;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_tl:hover {
    cursor: pointer;
}







/* _______________________TERMODINAMICA_______________________*/



/* ________LEI ZERO DA TERMODINAMICA_____________*/


.zero_law_t {
    height: 80vh;
}


.zero-lei_t {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(255,255,230,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#zero_lei_t {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#zero_lei_t h1 {
    color: #e69900;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_t_z {
    width: 100%;
    padding: 2%;
}

.texto_t_z {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_pl_t_z {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/zeroTermoDin.png");
    background-size: cover;
}

.texto_t_z p {
    text-indent: 3%;
}
.texto_t_z ul {
    margin-left: 10%;
}


/* ___________________________FORMULAS______________________*/

.formulas_z_t {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_z_t {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_z_t img {
    width: 100%;

}


.formula_02_z_t {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_z_t img {
    width: 100%;

}


/* Buttons */

.zero-lei_t .zero_buttons_t {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.zero-button_t {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.zero-button_t:hover {
    cursor: pointer;
}

.buttons_active_t_z {
    text-decoration: none;
    border: none;
    background-color: #e69900;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_t_z:hover {
    cursor: pointer;
}



/* ________PRIMEIRA LEI DA TERMODINAMICA_____________*/


.first_law_t {
    height: 80vh;
}


.primeira-lei_t {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(255,255,230,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#primeira_lei_t {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#primeira_lei_t h1 {
    color: #e69900;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_t {
    width: 100%;
    padding: 2%;
}

.texto_t {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_pl_t {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/firstTermoDin.png");
    background-size: cover;
}

.texto_t p {
    text-indent: 3%;
}
.texto_t ul {
    margin-left: 10%;
}

.break {
    clear: both;
}

/* ___________________________FORMULAS______________________*/

.formulas_pl_t {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_pl_t {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_pl_t img {
    width: 100%;

}


.formula_02_pl_t {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_pl_t img {
    width: 100%;

}



/* Buttons */

.primeira-lei_t .primeira_buttons_t {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.primeira-button_t {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.primeira-button_t:hover {
    cursor: pointer;
}

.buttons_active_t {
    text-decoration: none;
    border: none;
    background-color: #e69900;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_t:hover {
    cursor: pointer;
}




/* ________SEGUNDA LEI DA TERMODINAMICA_____________*/

.second_law_t {
    height: 80vh;
}

.segunda-lei_t {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(255,255,230,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#segunda_lei_t {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#segunda_lei_t h1 {
    color: #e69900;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_sl_t {
    width: 100%;
    padding: 2%;
}

.texto_sl_t {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_sl_t {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/sndTermoDin.png");
    background-size: cover;
}



.texto_sl_t p {
    text-indent: 3%;
}
.texto_sl_t ul {
    margin-left: 10%;
}


/* ___________________________FORMULAS______________________*/

.formulas_sl_t {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_sl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_sl_t img {
    width: 100%;

}


.formula_02_sl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_sl_t img {
    width: 100%;

}

.formula_03_sl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_03_sl_t img {
    width: 100%;

}


.formula_04_sl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_04_sl_t img {
    width: 100%;

}

/* Buttons */

.segunda-lei_t .segunda_buttons_t {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.segunda_button_t {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.segunda_button_t:hover {
    cursor: pointer;
}

.buttons_active_sl_t {
    text-decoration: none;
    border: none;
    background-color: #e69900;
    color: white;
    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_sl_t:hover {
    cursor: pointer;
}




/* ________terceira LEI DA TERMODINAMICA_____________*/


.third_law_t {
    height: 80vh;
}

.terceira-lei_t {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(255,255,230,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#terceira_lei_t {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#terceira_lei_t h1 {
    color: #e69900;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_tl_t {
    width: 100%;
    padding: 2%;
}

.texto_tl_t {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_tl_t {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/trdTermoDina.png");
    background-size: cover;
}

.texto_tl_t p {
    text-indent: 3%;
}
.texto_tl_t ul {
    margin-left: 10%;
}


/* ___________________________FORMULAS______________________*/

.formulas_tl_t {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_tl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_tl_t img {
    width: 100%;

}


.formula_02_tl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_tl_t img {
    width: 100%;

}

.formula_03_tl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_03_tl_t img {
    width: 100%;

}


.formula_04_tl_t {
    width: 20%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_04_tl_t img {
    width: 100%;

}


/* Buttons */

.terceira-lei_t .terceira_buttons_t {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.terceira-button_t {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.terceira-button_t:hover {
    cursor: pointer;
}

.buttons_active_tl_t {
    text-decoration: none;
    border: none;
    background-color: #e69900;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_tl_t:hover {
    cursor: pointer;
}







/* _______________________ELECTROMAGNETISMO_______________________*/


/* ________FORÇA ELECTROMAGNÉTICA_____________*/


.first_law_elec {
    height: 80vh;
}

.primeira-lei_elec {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(204,255,204,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#primeira_lei_elec {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#primeira_lei_elec h1 {
    color: #00b359;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_elec {
    width: 100%;
    padding: 2%;
}

.texto_elec {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_pl_elec {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/forceElectro.png");
    background-size: cover;
}

.texto_elec p {
    text-indent: 3%;
}
.texto_elec ul {
    margin-left: 10%;
}

.break {
    clear: both;
}


/* ___________________________FORMULAS______________________*/

.formulas_pl_elec {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_pl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_pl_elec img {
    width: 100%;

}


.formula_02_pl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_pl_elec img {
    width: 100%;

}
/* Buttons */

.primeira-lei_elec .primeira_buttons_elec {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.primeira-button_elec {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.primeira-button_elec:hover {
    cursor: pointer;
}

.buttons_active_elec {
    text-decoration: none;
    border: none;
    background-color: #00b359;
    color: white;

    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_elec:hover {
    cursor: pointer;
}




/* ________LEI DE COULOMB_____________*/


.second_law_elec {
    height: 80vh;
}

.segunda-lei_elec {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(204,255,204,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#segunda_lei_elec {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#segunda_lei_elec h1 {
    color: #00b359;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}

/* Conteudo */


.content_sl_elec {
    width: 100%;
    padding: 2%;
}

.texto_sl_elec {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_sl_elec {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/coulom.png");
    background-size: cover;
}



.texto_sl_elec p {
    text-indent: 3%;
}
.texto_sl_elec ul {
    margin-left: 10%;
}



/* ___________________________FORMULAS______________________*/

.formulas_sl_elec {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_sl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_sl_elec img {
    width: 100%;

}


.formula_02_sl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_sl_elec img {
    width: 100%;

}


/* Buttons */

.segunda-lei_elec .segunda_buttons_elec {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.segunda_button_elec {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.segunda_button_elec:hover {
    cursor: pointer;
}

.buttons_active_sl_elec {
    text-decoration: none;
    border: none;
    background-color: #00b359;
    color: white;
    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_sl_elec:hover {
    cursor: pointer;
}




/* ________FORÇA ENTRE CARGAS_____________*/

.third_law_elec {
    height: 80vh;
}

.terceira-lei_elec {
    margin-top: 5%;
    width: 90%;
    height: 550px;
    background-color: rgba(204,255,204,0.85);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#terceira_lei_elec {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


#terceira_lei_elec h1 {
    color: #00b359;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
}
/* Content */

.content_tl_elec {
    width: 100%;
    padding: 2%;
}

.texto_tl_elec {
    display: inline-block;
    font-size: 1.6rem;
    width: 65%;
    height: 350px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px;
    float: left;
    overflow-y: auto;
}

.images_tl_elec {
    display: inline-block;
    width: 35%;
    height: 350px;
    float: right;
    background-image: url("../img/forceMagnets.png");
    background-size: cover;
}



.texto_tl_elec p {
    text-indent: 3%;
}
.texto_tl_elec ul {
    margin-left: 10%;
}


/* ___________________________FORMULAS______________________*/

.formulas_tl_elec {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
}


.formula_01_tl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    margin-left: 7%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_01_tl_elec img {
    width: 100%;

}


.formula_02_tl_elec {
    width: 45%;
    height: 350px;
    display: inline;
    float: left;
    padding: 2%;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
}

.formula_02_tl_elec img {
    width: 100%;

}

/* Buttons */

.terceira-lei_elec .terceira_buttons_elec {
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 33.5%;
}

.terceira_button_elec {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 10vw;
    height: 5vh;
    font-size: 1.6rem;
}

.terceira_button_elec:hover {
    cursor: pointer;
}

.buttons_active_tl_elec {
    text-decoration: none;
    border: none;
    background-color: #00b359;
    color: white;
    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.buttons_active_tl_elec:hover {
    cursor: pointer;
}





/*----------------------------------------PARALLAX PLANETS------------------------------------------------*/
#earth{
    height: 185px;
    width: 170px;
    background: url("../img/planets.png")0 -110px;
    position: fixed;
    top: 250px;
    z-index: -4;
}

#pluto{
    height: 400px;
    width: 390px;
    background: url("../img/planets.png")-340px -10px;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: -4;
}

#venus{
    height: 185px;
    width: 170px;
    background: url("../img/planets.png") -174px -110px;
    position: fixed;
    top: 1000px;
    left: 10px;
    right: 0;
    z-index: -4;
}

#saturn{
    height: 185px;
    width: 190px;
    background: url("../img/planets2.png") -10px 0;
    position: fixed;
    top: 100px;
    left: 500px;
    z-index: -4;
}

#neptune{
    height: 185px;
    width: 160px;
    background: url("../img/planets2.png") -195px 0;
    position: fixed;
    bottom: 500px;
    right: 20px;
    z-index: -5;
}

#jupiter{
    height: 185px;
    width: 160px;
    background: url("../img/planets2.png") -375px 0;
    position: fixed;
    bottom: -175px;
    right: 600px;
    z-index: -5;
}

/* _________________QUIZ IFRAME_____________________________*/

.quiz {
    width: 100%;
    height: 90vh;
    border: none;
    overflow: scroll;
}