*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html,body {
    height: 100%;
}



/* ____________________________________________________________BARRAS DE NAVEGAÇÃO___________________________________________*/

/* ________________TOP BAR__________________*/

nav{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    position: fixed;
    text-transform: uppercase;
}

nav{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    position: fixed;
    text-transform: uppercase;
}

nav.navbar{
    background-color: rgba(0,0,0,0.85);

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


/* __________________________________________________________________________________________________________________________*/

/* __________________________________________________*/



.bg_stars {
    overflow: hidden;
}

#main_img {
    width: 100%;
    z-index: 998;
    position: fixed;
    bottom: 0;
    left: 0;
    fill: #28004d;

}


#stars {
    height: 90vh;
    z-index: 0;
    animation: stars linear infinite 600s alternate;
}

/* animation */

@keyframes stars {
  0% {
    margin-left: 0;
  }

  50% {
      margin-left: -100%;
  }

  100% {
      margin-left: 0;
  }
}




/* link */



.content_link {
    z-index: 999;
    position: absolute;
    bottom: 1px;
    left: 33.3vw;
    width: 33.3vw;
    display: inline;
    text-align: center;

    font-size: 7rem;

}

a {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: lightgrey;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* title text */

