*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background: url("../img/quizBack.png") no-repeat fixed center;
    background-size: cover;
}

/*--------------------------------------------QUIZ STYLES-------------------------------------------------------------*/


#mainQuiz{
    width: 80%;
    margin: auto;
}

#mainQuiz h1{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    color: white;
}

#questionA, #questionB, #questionC, #questionD, #questionE, #questionF, #questionG, #questionH, #questionI, #questionJ{
    background-color: white;
    height: 180px;
    font-size: 25px;
    padding: 10px;
    overflow-y: auto;
}

.veryHeightSpace{
    height: 75px;
}

.heightSpace{
    height: 20px;
}

#mainQuiz ul{
    list-style-type: none;
    font-size: 14px;
    margin: 10px;
}

.printGreen{
    background-color: rgba(143,235,53,0.6);
}

.printRed{
    background-color: rgba(235,24,0,0.6);
}


input[type="button"]{
    float: left;
    height: 50px;
    background-color: rgba(0,0,0,0.51);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
}

input[type="button"]:hover{
    background-color: black;
    font-weight: 500;
}

.clear{
    clear: both;
}

.result {
    font-size: 25px;
    font-weight: bold;
    color: white;
}